@model TaskViewModel

@{
  ViewBag.Title = Model.Projects[0].ProjectName + " Tasks";
}
  
<div class="mt-3">

  <div class="container ">
    <h1 class="text-center">@Model.Projects[0].ProjectName</h1>
  </div>

  <div class="container">
    <div class="row row-height-3 align-items-center border-bottom border-white">
      <div class="col-sm-5">Task Name</div>
      <div class="col-sm">Status</div>
      <div class="col-sm">Deadline</div>
      <div class="col-sm">Creator</div>
      <div class="col-sm">Action</div>
    </div>
      @if (Model.Tasks.Any())
      {
        @foreach (var task in Model.Tasks)
        {
        <div class="row row-height-3 align-items-center mt-3 bg-secondary">
          <div class="col-sm-5">@task.TaskName</div>
          <div class="col-sm">@task.TaskStatus.StatusName</div>
          <div class="col-sm">@task.Deadline.ToString("yyyy/MM/dd")</div>
          <div class="col-sm">@task.Member.GetFullName</div>
          <div class="col-sm">
            <a asp-controller="task" asp-action="edit" asp-route-id="@task.ProjectId" asp-route-taskId="@task.Id">
              <i class="far fa-edit fa-lg mr-2"></i>
            </a>
            <a asp-controller="task" asp-action="delete" asp-route-id="@task.ProjectId" asp-route-taskId="@task.Id">
              <i class="far fa-trash-alt fa-lg mr-2"></i>
            </a>
          </div>
        </div>
        <div class="row align-items-center pb-3 bg-secondary">
          <div class="col-sm-12">@task.Description</div>
        </div>
        }
      }
      else
      {
        <div class="row row-height-3 align-items-center mt-3 bg-secondary">
          <div class="col-sm-12">There are no tasks for this project</div>
        </div>
      }
    
    <div class="row aling-items-center mt-3">
      <div class="col-sm-12 p-0">
        <a asp-controller="home" asp-action="index" class="btn btn-primary"><i class="fas fa-arrow-left mr-2"></i>Back</a>
        <a asp-controller="task" asp-action="create" asp-route-id="@Model.Projects[0].Id" class="btn btn-primary ml-3"><i class="fas fa-plus mr-2"></i>Add New Task</a>
      </div>
    </div>

    
  </div>

</div>