@model List<ProjectTracker.Models.TaskStatus>

@{
  ViewBag.Title = "Manage Task Status";
}

<div class="container mt-3">
    <div class="row row-height-3 align-items-center border-bottom border-white">
      <div class="col-sm-4">Status Name</div>
      <div class="col-sm-3">Priority Order</div>
      <div class="col-sm-3">Default</div>
      <div class="col-sm">Action</div>
    </div>

    @if (ViewBag.ErrorMessage != null)
    {
      <span class="text-danger">@ViewBag.ErrorMessage</span>
    }
    @foreach (var taskStatus in Model)
    {
      <div class="row row-height-3 align-items-center mt-3 bg-secondary">
        <div class="col-sm-4">@taskStatus.StatusName</div>
        <div class="col-sm-3">@taskStatus.OrderPriority</div>
        <div class="col-sm-3 pl-4">
            @if (taskStatus.IsDefault)
            {
              <i class="fas fa-check fa-lg"></i>
            }
        </div>
        <div class="col-sm">
          <a asp-controller="taskstatus" asp-action="edit" asp-route-id="@taskStatus.Id">
            <i class="far fa-edit fa-lg mr-2"></i>
          </a>
          <a asp-controller="taskstatus" asp-action="delete" asp-route-id="@taskStatus.Id">
            <i class="far fa-trash-alt fa-lg mr-2"></i>
          </a>
        </div>
      </div>
    }

    <div class="row aling-items-center mt-3">
      <div class="col-sm-12 p-0">
        <a asp-controller="home" asp-action="index" class="btn btn-primary"><i class="fas fa-arrow-left mr-2"></i>Back</a>
        <a asp-controller="TaskStatus" asp-action="Create" class="btn btn-primary ml-3"><i class="fas fa-plus mr-2"></i>Add New Task Status</a>
      </div>
    </div>
  </div>