@model IEnumerable<Project>

@{
  ViewBag.Title = "Projects";
}

<div class="mt-3">

  <div class="container">
    <div class="row row-height-3 align-items-center border-bottom border-white">
      <div class="col-sm">Project Name</div>
      <div class="col-sm">Created</div>
      <div class="col-sm">Updated</div>
      <div class="col-sm">Deadline</div>
      <div class="col-sm">Creator</div>
    </div>
    @foreach (var project in Model)
    {
      <div class="row row-height-3 align-items-center">
        <div class="col-sm">@project.ProjectName</div>
        <div class="col-sm">@project.Created.ToString("yyyy/MM/dd")</div>
        <div class="col-sm">@project.Updated.ToString("yyyy/MM/dd")</div>
        <div class="col-sm">@project.Deadline.ToString("yyyy/MM/dd")</div>
        <div class="col-sm">@project.Creator</div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam doloremque eaque temporibus obcaecati, aut reprehenderit repellat reiciendis deserunt. Quas nulla corporis et cum eaque, tempora voluptatum pariatur blanditiis iusto expedita. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo placeat nulla blanditiis dolores nesciunt quaerat quos asperiores eaque possimus eum.</div>
      </div>
    }
  </div>

</div>